In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import os
print(os.listdir())

import warnings
warnings.filterwarnings('ignore')

['Bayes_model.pkl', 'c.c', 'example.exe', 'heart.csv', 'random_forest_model.pkl', 'random_forest_model1.pkl', 'tree.ipynb', 'tree.py']

In [17]:
dataset = pd.read_csv("heart.csv")

In [18]:
dataset.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [19]:
dataset["target"].describe()
dataset["target"].unique()

array([1, 0], dtype=int64)

In [20]:
print(dataset.corr()["target"].abs().sort_values(ascending=False))

target      1.000000
exang       0.436757
cp          0.433798
oldpeak     0.430696
thalach     0.421741
ca          0.391724
slope       0.345877
thal        0.344029
sex         0.280937
age         0.225439
trestbps    0.144931
restecg     0.137230
chol        0.085239
fbs         0.028046
Name: target, dtype: float64

In [21]:
dataset["sex"].unique()
dataset["cp"].unique()
dataset["fbs"].unique()
dataset["restecg"].unique()
dataset["exang"].unique()

array([0, 1], dtype=int64)

In [22]:
from sklearn.model_selection import train_test_split

predictors = dataset.drop("target",axis=1)
target = dataset["target"]

X_train,X_test,Y_train,Y_test = train_test_split(predictors,target,test_size=0.20,random_state=0)

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
#Bayes
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

nb.fit(X_train,Y_train)

Y_pred_nb = nb.predict(X_test)

In [25]:
# Save the trained model to a file
import joblib

joblib.dump(nb, 'Bayes_model.pkl')

['Bayes_model.pkl']

In [26]:
import joblib

rf = joblib.load('random_forest_model.pkl')
donner = [60,1,0,125,258,0,0,141,1,2.8,1,1,3]
nouvelle_donnée =donner# Remplacez cela par vos valeurs
prediction = nb.predict([nouvelle_donnée])
print(prediction)

[0]